/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000;
}

a {
    text-decoration: none;
}

/* Header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393E46;
    height: 102px;
}

.header__logo {
    flex: 1 1 auto;
    color: #eee;
    margin-left: 23px;
}

.header__logo--medium {
    font-size: 30px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header__nav__item {
    flex: 1 1 auto;
    font-size: 24;
    color: #eee;
    padding: 35px 42px;
}

.header__nav__item:visited {
    font-weight: bold;
    color: #FFD369;
}

.header__nav__item:hover {
    background-color: #FFD369;
    color: black;
    font-weight: 500;
}

.header__nav__item:active {
    font-weight: 500;
    color: #FFD369;
}
