/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000;
    color: #eee;
}

a {
    text-decoration: none;
    color: #eee;
}

a:visited {
    color: #eee;
}

/* Header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393E46;
    height: 102px;
    position: sticky;
    top: 0;
}

.header__logo {
    flex: 1 1 auto;
    color: #eee;
    margin-left: 23px;
}

.header__logo--medium {
    font-size: 30px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header__nav__item {
    flex: 1 1 auto;
    font-size: 24;
    color: #eee;
    padding: 35px 42px;
}

.header__nav__item:hover {
    color: #FFD369;
    font-weight: 500;
}

/* Return button styles */
.return__button {
    position: relative;
}

.return__button .icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Assignments Styles */

.assignments__header {
    color: #eee;
    font-size: 60px;
    font-weight: 600;
    text-decoration: underline;
    margin: 24px 91px;
    /* position: sticky;
    top: 128px; */
}

.assignments__list {
    height: 700px;
    overflow: auto;
}

.assignments__item {
    background-color: #393E46;
    margin: 24px 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.assignments__name {
    font-size: 24px;
    font-weight: 400;
}

.assignments__actions {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.actions__items:hover {
    color: #FFD369;
    font-weight: bold;
}